div.semantic-operations-selector {
}

div.semantic-meaning-selector {
  position: relative;
}
div.semantic-meaning-selector > .meanings {
  margin-right: 1em;
  margin-left: 0.8em;
}
div.semantic-meaning-selector > .meanings > span {
}
div.semantic-meaning-selector > .add {
  position: absolute;
  top: 0.5ex;
  right: 0.5ex;
  margin-right: 0.8em;
}

div.syntactic-operations-selector {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 33em;
  height: 15em;
  border: 1px solid silver;
  padding: 1em;
  margin: 2ex 2ex 2ex;
}
div.syntactic-operations-selector > .title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1ex; 
}
div.syntactic-operations-selector > .closer {
  position: absolute;
  top: 0.5ex;
  right: 0.5ex;
}
div.syntactic-operations-selector > .closer a {
  padding: 0px 1ex;
}

div.object-action-selector {
  position: relative;
}
div.object-action-selector > .objects,
div.object-action-selector > .actions {
  display: inline-block;
  width: 10em;
}
div.object-action-selector > .add {
  margin: .25em 0px;
}

div.object-action {
  position: relative;
  background: #eee;
  height: 2.5em;
  vertical-align: middle;
}
div.object-action > .object,
div.object-action > .action {
  display: inline-block;
  width: 9em;
  margin-right: 1ex;
  padding: .75em 1em;
}
div.object-action > .closer {
  position: absolute;
  right: .5ex;
  top: .5ex;
}
div.object-action > .closer a {
  padding: 0px 1ex;
}
